.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.about__img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.about__subtitle {
    color: var(--clr-slate800);
    font-size: var(--size-base);
    line-height: 0.9;
}

.about__title {
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    line-height: 0.9;
}

.about__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.info__skills {
    display: flex;
    flex-direction: column;
    color: var(--clr-slate400);
    margin-top: 1rem;
}

.info__title {
    color: var(--clr-light);
    font-size: var(--size-2xl)
}



/* md */
@media (min-width: 768px) {
    .info {
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .info__skills {
        flex-direction: row;
        gap: 2rem;
        list-style: none;
    }
}

/* lg */
@media (min-width: 1024px) {
    .about__img {
        width: 8rem;
        height: 8rem;
    }
    
    .about__subtitle {
        font-size: var(--size-2xl);
    }
    
    .about__title {
        font-size: var(--size-7xl);
    }
    
    .about__description {
        font-size: var(--size-lg);
    }

    .info {
        font-size: var(--size-4xl)
    }

    .info__skills {
        font-size: var(--size-2xl);
    }
}

/* xl */
/* @media (min-width: 1280px) {
    .hero {
        gap: 2rem;
    }
    
    .about__img {
        width: 10rem;
        height: 10rem;
    }
    
    .about__subtitle {
        font-size: var(--size-4xl);
    }
    
    .about__title {
        font-size: var(--size-9xl);
    }
    
    .about__description {
        font-size: var(--size-xl);
    }
}
 */
/* 2xl */
/* @media (min-width: 1536px) {
    
} */