<main>
    <section *ngIf="data" class="about container">
        <img class="about__img" src={{imgUrl2}}>
        <h2 class="about__subtitle">{{data.fullName}}</h2>
        <h1 class="about__title">Full-Stack Developer Jr</h1>
        <p class="about__description">
            {{data.about}}
        </p>
    </section>
    <section class="info container section">
        <h2 class="info__title">
            Technologies
        </h2>
        <ul class="info__skills">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Angular</li>
        </ul>
    </section>
</main>