.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-cont {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-button {
    margin-top: 2rem;
}