<div class="education container">
    <div class="title-cont">
        <div class="text-cont">
            <h2 class="title">Education</h2>
        </div>
        <div class="button-cont">
            <button class="button btn">Add</button>
        </div>
    </div>
    <div class="education__type">
        <div class="type-cont">
            <h2 class="type">
                Education Type
            </h2>
            <div class="button-cont">
                <button class="button btn">Edit</button>
                <button class="button btn">Delete</button>
            </div>
        </div>
        <h3 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, dolorum.</h3>
    </div>
</div>
